.nav__link {
  background-color: transparent;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  float: left;
  color: white;
  text-decoration: none;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px double white;
}

.nav__link::before {
  content: "\01F3E1";
}

.nav__link:hover {
  background-color: white;
}

.nav__link p {
  color: #17e2fc;
  font-size: 13px;
  font-weight: 800;
}
